<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="script.js" defer></script>
</head>
<body>
    <form action="success" method="Post">
    <h1>Adopt a pet here</h1>
    <br>
    <label>What type of pet would you like to adopt?
        <input type="text" id="pet_Type" name="pet_type">
    </label>
    <label>Quantity:
        <input type="text" id="quantity" name="quantity">
    </label>
    <label>Color:
        <input type="text" id="color" name="color">
    </label>
    <button type = 'submit' id="click">Submit Order</button>
    <p id="output"></p>
    </form>

    
</body>
</html>